.footer {
    background-color: $dark-gray;
    margin-bottom: 0;

    .footer-container {
        padding-top: calc($separation / 2);
    }

    .copyright {
        color: $white;
        text-align: center;
        padding: calc($separation / 2) 0;
        margin-bottom: 0;
    }
}