.icons-us {
    @include grid(3, 2 rem)
}

.icon {
    text-align: center;
    img {
        display: inline;
        height: 10rem;
        width: auto;
    }
    h3 {
        text-transform: uppercase;
    }
}