@include tablet {
    .icons-us {
        @include grid(3, 3rem)
    }
}


.icon {
    text-align: center;
    img {
        display: inline;
        height: 10rem;
        width: auto;
    }
    h3 {
        text-transform: uppercase;
    }
}