.bar {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.navigation {
    @include tablet {
        display: flex;
        gap: 2rem;
    }
    a {
        color: $white;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;
    }
}